<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TD Shop</title>
    <meta name="description" content="best template, template free, responsive theme, fashion store, responsive theme, responsive html theme, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template">
    <meta name="keywords" content="bootstrap, ecommerce, fashion, layout, responsive, responsive template, responsive template download, responsive theme, retail, shop, shopping, store, Premium website templates, web templates, Multi-Purpose Responsive HTML5 Template" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="icon" href="~/client-side/images/favicon.png">

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />

    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">

    @RenderSection("Styles", required: false)
</head>

<body class="cms-index-index cms-home-page">
    <div class="loader hide-loader">
        <img src="~/client-side/images/spinner-loading.gif" alt="Vui lòng chờ trong giây lát" />
    </div>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- mobile menu -->
    
    <!-- end mobile menu -->
    <div id="page">
        @await Component.InvokeAsync("MobileMenu")
        <!-- Header -->
        @Html.Partial("_Header.cshtml")
        <!-- end header -->
        <nav>
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync("MainMenu")
                </div>
            </div>
        </nav>

        @RenderBody()
        <!-- Footer -->
        @Html.Partial("_Footer.cshtml")
        <!-- End Footer -->
    </div>

  
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/client-side/js/owl.carousel.min.js"></script>F

    <!-- jquery.mobile-menu js -->
    <script type="text/javascript" src="~/client-side/js/mobile-menu.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/client-side/js/jquery-ui.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/client-side/js/main.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/client-side/js/countdown.js"></script>

    <!-- Slider Js -->
    <script type="text/javascript" src="~/client-side/js/revolution-slider.js"></script>


    <!--Script library js-->
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>


    <!--Script custom js-->
    <script src="~/client-app/shared/app-core.js" asp-append-version="true"></script>
    <script src="~/client-app/shared/messages.js" asp-append-version="true"></script>
    <script src="~/client-app/shared/constants.js" asp-append-version="true"></script>
    <script src="~/admin-app/shared/services.js" asp-append-version="true"></script>
    <script src="~/client-app/controllers/base/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
