@model CoreApp.Models.ProductViewModels.DetailViewModel
@{
    ViewData["Title"] = Model.Product.Name;
    ViewData["MetaKeyword"] = Model.Product.SeoKeywords;
    ViewData["MetaDescription"] = Model.Product.SeoDescription;
    var category = Model.Category;
    var product = Model.Product;
}

@section Scripts{
    <script src="~/client-app/controllers/product/details.js"></script>
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li class=""> <a title="@category.Name" href="/@category.SeoAlias-c.@(category.Id).html">@category.Name</a><span>&raquo;</span></li>
                    <li><strong>@product.Name</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Thông tin sản phẩm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2 hidden-sm">
                        <div class="slider-vertical">
                            <span class="slider-vertical-up"> <i class="fa fa-angle-up"></i></span>
                            @{
                                if (Model.ProductImages != null && Model.ProductImages.Any())
                                {
                                    <ul class="lst-img">
                                        @foreach (var image in Model.ProductImages)
                                        {
                                            <li><img src="@image.Path" alt="@image.Caption" /></li>
                                        }
                                    </ul>
                                }
                            }
                            <span class="slider-vertical-down"> <i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="slider-product">
                            <span class="slider-button slider-button-left"><i class="fa fa fa-angle-left"></i></span>
                            <div class="img-sliders">
                                <img src="@product.Image" alt="Alternate Text" />
                            </div>
                            <span class="slider-button slider-button-right"><i class="fa fa fa-angle-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 product-info">
                <h4>Bồn ERP chứa hóa chất</h4>
                <div class="description">
                    <p>
                        @product.Description
                    </p>
                </div>
                <div class="category">
                    <span><i class="fa fa-file"></i> Danh mục: <a href="/@Model.Category.SeoAlias-c.@(Model.Category.Id).html">@Model.Category.Name</a></span>
                </div>

                <div class="keyword">
                    <span>
                        <i class="fa fa-bookmark"></i> Từ khóa:
                        @if (Model.Tags != null && Model.Tags.Any())
                        {
                            for (int i = 0; i < Model.Tags.Count; i++)
                            {
                                if (i != Model.Tags.Count - 1)
                                {
                                    <a href="/tim-kiem.html?keyword=@Model.Tags[i].Name"> @Model.Tags[i].Name, </a> 
                                }
                                else
                                {
                                    <a href="/tim-kiem.html?keyword=@Model.Tags[i].Name"> @Model.Tags[i].Name</a>
                                }
                            }
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="cus-tag">
                        <div class="navigate">
                            <ul>
                                <li class="active"><span>Mô tả</span></li>
                                <li ><span>Đánh giá</span></li>
                            </ul>
                        </div>
                        <div class="content">
                            <ul>
                                <li class="display">
                                    <div class="content-info">
                                        @Html.Raw(@product.Content)
                                    </div>
                                </li>
                                <li>
                                    <div class="content-info">
                                        <h2>Đánh giá</h2>
                                        <p>
                                            Incidunt curae condimentum quibusdam duis sagittis. Soluta anim? Do distinctio cubilia eum massa sagittis penatibus unde, nesciunt exercitation nulla vestibulum numquam conubia aliquid, sequi dolorem arcu erat. Elementum, vitae nisi deserunt, perspiciatis beatae cillum, vero, quisque habitasse iaculis potenti, deleniti. Natus quidem. Excepteur architecto, placeat? Pretium voluptatum!
                                        </p>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Container End -->
<!-- Related Product Slider -->
@if (Model.RelatedProducts != null && Model.RelatedProducts.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="related-product-area">
                    <div class="page-header">
                        <h2>Sản phẩm gợi ý</h2>
                    </div>
                    <div class="related-products-pro">
                        <div class="slider-items-products">
                            <div id="related-product-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 fadeInUp">
                                    @foreach (var item in Model.RelatedProducts)
                                    {
                                        var url = item.SeoAlias + "-" + "p." + item.Id + ".html";
                                        <div class="product-item">
                                            <div class="item-inner">
                                                <div class="product-thumbnail">
                                                    <div class="pr-img-area">
                                                        <a title="@item.Name" href="@url">
                                                            <figure> <img class="first-img" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name"></figure>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a title="@item.Name" href="@url">@item.Name</a> </div>
                                                        <div class="item-content">
                                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                            <div class="item-price">
                                                                <div class="price-box">
                                                                    <span class="regular-price">
                                                                        <span class="price">@item.Price.ToString("N0")</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="pro-action">
                                                                <button type="button" id="add-to-cart" data-id="@item.Id"><span>Thêm vào giỏ</span> </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Related Product Slider End -->
