@model CoreApp.Models.BlogViewModels.DetailViewModel
@{
    ViewData["Title"] = Model.Blog.Name;
    ViewData["MetaKeyword"] = Model.Blog.SeoKeywords;
    ViewData["MetaDescription"] = Model.Blog.SeoDescription;
    var blog = Model.Blog;
}
<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a><span>&raquo;</span></li>
                    <li class=""> Tin tức <span>&raquo;</span></li>
                    <li><strong>@blog.Name</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<div id="page">
    <!-- Main Container -->
    <section class="blog_post">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="entry-detail">
                        <div class="entry-photo">
                            <figure><img src="@blog.Image" alt="Blog"></figure>
                        </div>
                        <div class="entry-meta-data">
                            <div class="blog-top-desc">
                                <h1><a href="/@blog.SeoAlias-c.@(blog.Id).html">@blog.Name</a></h1>
                                <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <a href="#"><i class="fa fa-calendar"></i> <strong>@blog.DateCreated.ToString("dd-MM-yyyy HH:mm:ss")</strong></a></div>
                            </div>

                        </div>
                        <div class="content-text clearfix">
                            <p>@blog.Description</p>
                            @Html.Raw(@blog.Content)

                        </div>
                        <div class="entry-tags">
                            <i class="fa fa-tags"></i><span>Tags:</span>
                            @{
                                var tags = blog.Tags.Split(",");
                            }
                            @for (int i = 0; i < tags.Length; i++)
                            {
                                if (i != tags.Length - 1)
                                {
                                    <a href="#">@tags[i], </a>
                                }
                                else
                                {
                                    <a href="#">@tags[i].</a>
                                }


                            }
                        </div>
                    </div>

                </div>
                <!-- right colunm -->
                <aside class="sidebar col-xs-12 col-sm-3">
                    <!-- tags -->
                    <div class="popular-tags-area block">
                        <div class="sidebar-bar-title">
                            <h3>Bài viết mới</h3>
                        </div>
                        <div class="tag">
                            <ul>
                                <li>Quy trình bọc phủ Composite tại Hà Nội</li>
                                <li>Quy trình bọc phủ Composite tại Hà Nội</li>
                                <li>Quy trình bọc phủ Composite tại Hà Nội</li>
                                <li>Quy trình bọc phủ Composite tại Hà Nội</li>
                                <li>Các sản phẩm composite phục vụ trong  công nghiệp</li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./tags -->
                    <!--page-facebook -->
                    <div class="page-facebook">
                        <div class="sidebar-bar-title">
                            <h3>Facebook</h3>
                        </div>
                        <div class="fanpage">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbocphufrp%2F&tabs&width=300&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <!--end-page-facebook -->

                    <div class="address-map">
                        <div class="sidebar-bar-title">
                            <h3>Bản đồ</h3>
                        </div>
                        <div class="map"></div>
                    </div>
                </aside>
                <!-- ./right colunm -->
            </div>
        </div>
    </section>
    <!-- Main Container End -->
</div>

